@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html{
    font-family: "Nunito", sans-serif;
    font-size: 62.5%;
}

.container{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
}

h1{
    font-size: 3rem;
    color: beige;
}

button{
    padding: 1rem 2.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.45rem;
    font-weight: 800;
}