.button {
    cursor: pointer;
    border: none;
    padding: 1rem;
    background-color: #8bce43;
    transition: all;
}

.button:hover {
    background-color: #2b4a14;
}

.para {
    font-size: 1.5rem;
}