* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend Deca", sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --dark-green: hsl(179, 100%, 13%);
    --bg: #F6F5F5;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

p {
    font-size: 0.85rem;
    font-weight: 200;
    line-height: 1.75;
}

button {
    background-color: var(--white);
    padding: 0.75rem;
    border-radius: 2rem;
    font-size: 0.8rem;

    width: 8rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.primary__container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.center__div {
    padding: 1rem;
    border-radius: 1.5rem;
    width: 80%;
    /* margin: 0 auto; */
    max-width: 50rem;
    /* min-height: 31rem; */

    display: flex;
    justify-content: center;
}

.card {
    padding: 2rem;
    color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 2.35rem;
}


.card__sedan {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    background-color: var(--orange);
}

.card__sedan button {
    color: var(--orange);
}

.card__suv {

    background-color: var(--dark-cyan);
}

.card__suv button {
    color: var(--dark-cyan);
}

.card__luxury {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background-color: var(--dark-green);
}

.card__luxury button {
    color: var(--dark-green);
}

@media (max-width: 760px) {
    .center__div {
        display: block;
    }

    .card__sedan {
        border-radius: 0;
    }

    .card__luxury {
        border-radius: 0;
    }
}