* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.parent {
    font-size: 100px;
}

.box {
    background-color: plum;
    width: 400px;
    padding: 10%;
    margin: 5%;
    font-size: 20%;
}

.para {
    /* 1em = 16px; 5em = 80px; 2em = 32px  */
    background-color: orangered;
    font-size: 2em;
    /* below case : --> 1em  = 32px; 0.5em = 40px */
    /* Other than font size , margin , padding & width follow above logic  */
    padding: 0.5em;
}

h2 {
    font-size: 2rem;
}