* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey-light: hsl(220, 54%, 89%);
    --savory-blue: hsl(215, 90%, 4%);
    --card-bg: hsl(216, 50%, 16%);
    --dark-blue: hsl(237, 79%, 35%);
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
}

.primary__container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__card {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 80rem;
    min-height: 12rem;
    box-shadow: 0 0 2rem 0rem var(--savory-blue);
}

.banner__content {
    max-width: 60rem;
    min-height: 10rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner__numbers {
    font-size: 1.25rem;
}

.banner__image {
    display: flex;
    align-items: center;

    position: relative;
}

.img__wrapper {
    background-color: var(--white);
    border-radius: 50%;

    display: grid;
    place-content: center;
    padding: 0.2rem;

    position: absolute;
}

.img__one {
    z-index: 100;
}

.img__two {
    left: 2rem;
    z-index: 99;
}

.img__three {
    left: 4rem;
    z-index: 98;
}

.img__four {
    left: 6rem;
    z-index: 97;
}

.img__five {
    left: 8rem;
    z-index: 96;
}

.img__six {
    left: 10rem;
    z-index: 95;
}

.img__seven {
    left: 12rem;
    z-index: 94;
}

.img__eight {
    left: 13rem;
    z-index: 93;
}

.img__nine {
    left: 13.75rem;
    z-index: 92;
}

.img__ten {
    left: 14.2rem;
    z-index: 90;
}

.profile {
    width: 2.5rem;
    aspect-ratio: 1/1;
    overflow-x: hidden;
    border-radius: 50%;
}

@media (max-width: 745px) {
    .banner__info {
        flex-direction: column;
        align-items: start;
    }

    .banner__content {
        min-height: 7rem;
    }

    .banner__image {
        top: 1.5rem;
    }
}