* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    padding: 10px;
    background-color: greenyellow;

    display: flex;
}

.parent>span {
    background-color: cadetblue;
    /* width: 1200px; */
}

.parent p {
    background-color: darkkhaki;

    /* width: max-content; */
    /* width: min-content; */
}

.parent a {
    background-color: yellow;

}