.headerContainer {
    background-color: #564433;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1480px;
    margin: 0 auto;
    padding: 1.35rem;
}